<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">



    <title>Itens Criados</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/_css.css ">

  </head>
<body background=static/images/22.gif>


  <div class="container" align="center">
      <div class="">
        <h3 class="text-muted">Desafio Flask</h3>
      </div>

      <div class-"alert alert-warning">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
      </ul>

       </div>



    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/logged">Crie Itens</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/create">Itens Criados <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index">Deslogar</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container">
      <br>
      <br>
      <br>
        <h1 class="display-3">Veja  seus Itens!</h1>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
        <br>
        <br>
        <br>
        
       <h2>Nome dos itens cadastrados:</h2>
          </font>
          
                  <hr size="300" width="180%" align="center" noshade>
          <form action="" method="GET">
    <div class="form-group"> 
       {% for produto in produtos %}
         <h3> {{ produto.name }}</h3>
      
        <hr size="300" width="180%" align="center" noshade>
                 {% endfor %} 


        </div>
        <div class="col-md-8">
        <br>  
          <h2>Descrição de respectivo Item:</h2>
  
            <hr size="300" width="180%" align="center" noshade>
    <div class="form-group">
      {% for produto in produtos %} 
    <h3>{{ produto.description }}</h3>
  
    <hr size="10" width="180%" align="center" noshade>
        {% endfor %} 
<br>
<br>
        <div class="col-md-8">
          <h2>Valor respectivo de cada item:</h2>
          
                  <hr size="300" width="180%" align="center" noshade>
          <form action="" method="POST">
    <div class="form-group">
    {% for produto in produtos %}
    <h3>{{ produto.value }}</h3>
    <br>
    <hr size="10" width="180%" align="center" noshade>
        {% endfor %} 
    </div> <!-- /container -->

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>