<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico">


    <title>Crie Seus itens</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/_css.css ">

  </head>

  <body background=static/images/5.gif>


  <div class="container" align="center">
      <div class="">
        <h3 class="text-muted">Desafio Flask</h3>
      </div>
<br>
      <div class-"alert alert-warning">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
      </ul>

       </div>



    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/logged">Crie Itens</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="create">Itens Criados <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="logout">Deslogar</a>
          </li>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <br>
      <br>
      <div class="container">
        <h1 class="display-3">Criador de Itens!</h1>
        <h4><p>Tente agora e adicione seu item,sua descrição e seu valor e vá para o outro link que se encontra ao lado para visualizar seu item.</h4></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-7">
          <h2>Nome do seu Item</h2>
          <form action="" method="POST">
    <div class="form-group">
    {{ form.name(class="form-control", placeholder="nome do item") }}
    {% if form.errors.name %}
     <div class="alert alert-danger" role="alert">
    <ul>
  {% for e in form.errors.name %}
      <li>{{ e }}</li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
    </div>
        </div>
        <div class="col-md-7">
          <h2>Descrição do item</h2>
    <div class="form-group">
    
    {{ form.description(class="form-control", placeholder="descrição do seu item") }}
    {% if form.errors.description %}
     <div class="alert alert-danger" role="alert">
    <ul>
    {%for e in form.errors.description %}
      <li>{{ e }}</li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
    </div>
        <div class="col-md-4">
          <h2>Valor</h2>
          <form action="" method="POST">
    <div class="form-group">
<div class="form-group">
    
    {{ form.value(class="form-control", placeholder="Digite o valor do Item") }}
    {% if form.errors.value %}
     <div class="alert alert-danger" role="alert">
    <ul>
    {%for e in form.errors.value %}
      <li>{{ e }}</li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
    </div>

<button type="submit" class="btn btn-default">Submit</button>
<br>
<br>
      <footer>
        <p>&copy; Company 2017</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>