Flask==0.11.1
Flask-Login==0.4.0
PyMySQL==0.7.9
SQLAlchemy==1.1.4
Flask-Script==2.0.6
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.2v
